#Idempiere Repo
idempiere/repos/
*.html

#Vagrant log files
*.log

#Vagrant Machine
.vagrant

#ERP Academy idempiere log file
*.txt

#Temporary files
tmp/
tmp/*

#idempiere installation script
idempiere-installation-script/
